<div class="row">
  <div class="span3">
    <img src="images/grant.png"/>
    <p>Who am I .....</p>
    <br/>
    <a href="https://twitter.com/grantspeelman" class="twitter-follow-button" data-show-count="false">Follow @grantspeelman</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
  <div class="span3">
    <ul class="nav nav-list">
      <li class="nav-header">
          Connect
      </li>
      <li>
        <a href="http://twitter.com/grantspeelman">
          <img src="images/social-icons/Twitter.png" width="25"/> Twitter
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/grant.speelman">
          <img src="images/social-icons/Facebook.png" width="25"/> Facebook
        </a>
      </li>
      <li>
        <a href="https://plus.google.com/u/0/113717407566182843297/posts">
          <img src="images/social-icons/Google.png" width="25"/> Google+
        </a>
      </li>
      <li>
        <a href="http://www.linkedin.com/in/gspeelman">
          <img src="images/social-icons/LinkedIn.png" width="25"/> LinkedIn
        </a>
      </li>
      <li>
        <a href="http://www.last.fm/user/grantspeelman">
          <img src="images/social-icons/Lastfm.png" width="25"/> Lastfm
        </a>
      </li>

    </ul>
  </div>
</div>