<div class="row-fluid">
  <div class="span5">
    <!--Sidebar content-->
  </div>
  <div class="span5">
    <img src="http://www.svgncti.org/wp-content/uploads/2012/05/coming-soon-150x150.jpg" alt="Coming Soon" />
  </div>
</div>