<!doctype html>
<html lang="en">
<head>

  <title>Grant Speelman</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Global Stylesheets -->
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" media="all"/>
  <link rel="stylesheet" href="bootstrap/css/bootstrap-responsive.min.css" media="all"/>
  <link rel="stylesheet" href="css/style.css" media="all"/>


  <!-- Javascript -->
  <script src="js/jquery-1.7.2.min.js"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script>

  <% if production? %>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-33010757-1']);
    _gaq.push(['_setDomainName', 'speelman.co.za']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  <% end %>
</head>

<body>

<div class="navbar">
  <div class="navbar-inner">
    <div class="container">

      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <!-- Be sure to leave the brand out there if you want it shown -->
      <a class="brand" href="/">Grant Speelman</a>

      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse">
        <div class="navbar">
          <ul class="nav">
            <% ["About me","Tweets","Powered by"].each do |nav_name| %>
              <% nav_href = "/" + nav_name.downcase.gsub(/\s/,'_')  %>
              <li <%= 'class="active"' if request.path_info == nav_href  %> >
                <a href="<%= nav_href %>">
                  <%= nav_name %>
                </a>
            <% end %>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="container">
  <%= yield %>
</div>

</body>

</html>