<div class="page-header">
  <h1>Grant Speelman</h1>
</div>

<div class="row">
  <div class="span6">
    <h2>Background</h2>
    <p>There are a few things in this life that one can truly claim. Such is true of technology and its continual rapid development.
       I however, feel free to claim the passion and drive I have for my line of work.
    </p>
    <p>
      When asked about the programming language I work with my heart betrays me somewhat,
      as Ruby was and still is my first love. However, there is plenty of room for other love ventures,
      as I enjoy working with Java, Java script, HTML and C++  as well .
      Cutting edge development, innovative techniques and new web technologies is what
      motivates me and keeps me wanting to move forward.
      I apply this concept of moving forward to my family life as well. Taking on challenges,
      keeping things alive and fresh are all part and parcel of a life philosophy I try and exercise daily.
    <p>
    <p>
      These  are just brief insights as to what’s important to me as there are plenty more .
      In summary, what has become clear is that experience has taught me, that being able to enjoy what I do,
      makes me better- at what I do.
    </p>
    Kind Regards<br/>Grant
  </div>
  <div class="span3">
    <img src="images/grant.png"/>
  </div>
  <div class="span3">
    <ul class="nav nav-list">
      <li class="nav-header">
          Connect with me
      </li>
      <li>
        <a href="http://twitter.com/grantspeelman">
          <img src="images/social-icons/Twitter.png" width="25"/> Twitter
        </a>
      </li>
      <li>
        <a href="https://plus.google.com/u/0/+GrantSpeelman">
          <img src="images/social-icons/Google.png" width="25"/> Google+
        </a>
      </li>
      <li>
        <a href="http://www.linkedin.com/in/gspeelman">
          <img src="images/social-icons/LinkedIn.png" width="25"/> LinkedIn
        </a>
      </li>
    </ul>
  </div>
</div>