<div class="page-header">
  <h1>Powered By</h1>
</div>

<div class="row">
  <div class="span4">
    <h2>Generated with</h2>
    <a href="http://www.ruby-lang.org/"><img src="http://www.h-online.com/imgs/43/8/2/6/3/8/3/Ruby_Logo_200-cd1ae1a142147548.png" width="120" alt="Ruby"/></a>
    <blockquote cite="http://www.ruby-lang.org/">
      <p>
      A dynamic, open source programming language with a focus on simplicity and productivity.
      It has an elegant syntax that is natural to read and easy to write.
      </p>
    </blockquote>
    <p>
      This is my language of choice: everything is a object, everything is extendable.
      And with a wealth of gems how can you go wrong.
    </p>
    Notable gem used:
    <ul>
      <li>Gotta love <a href="https://middlemanapp.com/">Middleman</a></li>
    </ul>
  </div>
  <div class="span4">
    <h2>Hosted on</h2>
    <a href="https://pages.github.com/" style="background-color: black;"><img src="https://pages.github.com/images/logo.svg" width="120" alt="Github Pages"/></a>
    <blockquote cite="https://pages.github.com/">
      <p>
         Websites for you and your projects.
         Hosted directly from your GitHub repository. Just edit, push, and your changes are live.
      </p>
    </blockquote>
    <p>
      For quick and easy static hosting, github pages is good to go.
    </p>
  </div>
  <div class="span4">
    <h2>Built with</h2>
    <a href="http://www.jetbrains.com/ruby/"><img src="https://encrypted-tbn1.google.com/images?q=tbn:ANd9GcTsyYaXDHlCT0jBmAvaUeSSX0AwIl72Y0hZTjHZa-_ti2uipaqXwdnXfwrM" width="120" alt="Heroku"/></a>
    <blockquote cite="header://www.jetbrains.com/ruby/">
      <p>
        RubyMine is a Ruby and Rails IDE with the full stack of essential developer tools, all tightly integrated
        into a convenient and smart development environment.
      </p>
    </blockquote>
    <p>
      Currently my IDE of choice when doing ruby development, makes life easy and it allows for everything to be done
      in one program
    </p>
  </div>
</div>