<div class="page-header">
  <h1>Projects</h1>
</div>

<div class="row">
  <div class="span4">
    <h2>My Grocery Price Book</h2>
    <a href="http://www.my-grocery-price-book.co.za/">Website</a>
    <p>A Grocery price book built using ruby on rails and reactjs</p>
  </div>
  <div class="span4">
    <h2>Clickatell Catcher Rack</h2>
    <a href="https://github.com/grantspeelman/clickatell-catcher-rack">
      Code host on github
    </a>
    <p>
      Simple rack app that allows for a local sandbox clickatell environment.
    </p>
  </div>
  <div class="span4">
    <h2>Staccato Rack</h2>
    <a href="https://github.com/grantspeelman/staccato-rack">Code host on github</a>
    <p>Rack middleware to send analytics to google using Staccato with the aim to be used for ruby APIs</p>
  </div>
</div>